.logo {
    text-align: center;
    font-size: 20px;
}
.logo a {
    color: #FFF;
}
#login label.checkbox {
    width: 110px;
    margin: 20px auto;
    text-align: center;
}
.esqueci_a_senha {
    text-align: center;
    margin-top: 5px;
}
.content.erros {
    text-align: center;
}
.card .header small {
    font-size: 0.7em;
    line-height: 1.5em;
    display: block;
    margin-top: 20px;
}
.login-page .card .header {
    padding-bottom: 15px;
}